table {
  width: 100%;
}

section {
  display: table;
}

.header {
  display: flex;
  justify-content: space-between;
}

.input {
  font-size: 14px;
  width: 50vw;
}

.mat-column-_id {
  // width: 32px;
  text-align: right;
}

.modal--strong{
  color: rgb(0, 125, 102);
}