table {
  width: 100%;
}

section {
  display: table;
}

.header {
  display: flex;
  justify-content: space-between;
}

.mat-column-_id {
  // width: 32px;
  // text-align: right !important;
}

.modal--strong{
  color: rgb(0, 125, 102);
}

.mat-column-Producto{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 28% !important;
  text-align-last: left !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// .mat-column-CortaFecha{
//   text-align: center;
// }

// .max-column-Cantidad{
//   text-align: center;
//   // text-align: right;
// }

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  text-align-last: center;
}