table {
  width: 100%;
}

section {
  display: table;
}

.header {
  display: flex;
  justify-content: space-between;
}

.input {
  font-size: 14px;
  width: 50vw;
}

.mat-column-_id {
  text-align: right;
}