<div class="container mt-5">
    <div class="card mx-auto text-center" style="max-width: 40rem;">
        <div class="card-header ">
          Aplicación Venta Erick Jimenez
        </div>
        <div class="card-body">
          <h5 class="card-title">Manejo de datos Excel</h5>
          <p class="card-text">La pantalla del vendedor puede ser vista en dispositivos móviles.</p>
          <a href="vendedor" class="mx-1 btn btn-outline-primary" (click)="goSellerView()">Vista Vendedor</a>
          <a href="admin" class="btn btn btn-outline-primary" (click)="goAdminView()">Vista Administrador</a>
        </div>
        <div class="card-footer text-muted">
        </div>
      </div>
</div>